<div>
	<div>
		<div class="row" style="padding:16px">
	        <div class=" col " >
				<div class="row shadow-lg p-3 mb-5 bg-body rounded">
					<div style="padding:6px">
			  			<label>Location</label>
			  			<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="locationname" name="locationname">
					</div>
	  				<div style="padding:6px">
	  					<button type="button" class="btn btn-primary">Search</button>
	  				</div>
				</div>
				<div class="row">
					<div style="padding: 12px">
						<table class="table">
					  		<thead>
					    		<tr>
					      			<th scope="col">Hospital/Pharmacy</th>
					      			<th scope="col">Adreess</th>
					      			<th scope="col">Contact</th>
					    		</tr>
					  		</thead>
					  		<tbody>
					    		<tr>
					      			<td>Asiri Hospitals (Pvt.) Ltd.</td>
					      			<td>Wackwella Rd, Galle</td>
					      			<td>0912246467</td>
					    		</tr>
					    		<tr>
					      			<td>Healthguard Pharmacies</td>
					      			<td>Colombo 03</td>
					      			<td>0112457458</td>
					    		</tr>
					  		</tbody>
						</table>
					</div>
				</div>
		  	</div>
		  	<div class="col">
				<div style="padding-right: 12px">
					<img src="assets/img/Google_map.png" class="img-fluid" alt="">
				</div>
		  	</div>
		</div>
	</div>
  	<!-- <div>
  		<div class="row">
			<div class="col">
				<div style="padding-right: 12px">
					<img src="assets/img/Google_map.png" class="img-fluid" alt="">
				</div>
			</div>
		</div>
  	</div> -->
</div>
